<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nordigen Bank Selector UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'js/node_modules/nordigen-bank-ui/package/src/selector.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>   
        {% block content %}

        {% endblock content %}
    </body>
    
    <script src="{% static 'js/node_modules/nordigen-bank-ui/package/src/selector.min.js' %}"></script>

    {% block scripts %}{% endblock scripts %}
</html>